
  <div id="chat-container" class="container-fluid bg-dark text-white">
    <form id="userData" class="mb-3" id="chat-form">
      <input type="text" id="userName" class="form-control" placeholder="Write your name..." required>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div class="mb-3" id="message-form">
      <input type="text" id="message-input" class="form-control" placeholder="Write a message...">
      <button id="sendMessage" class="btn btn-primary">Enviar</button>
    </div>
    <div id="chatLog">

    </div>
  </div>
 
