select {
    appearance: none;
    background-color: #f2f2f2;
    border: none;
    border-radius: 3px;
    padding: 4px;
    font-size: 15px;
    color: #333;
    width: 3rem;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  select option {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
  }
  
  select option:hover {
    background-color: #ccc;
  }
  
  button {
    font-weight: 700;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-width: 0;
    border-style: none;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    transition: 0.3s ease;
    background-color: #f2f2f2;
  }
  
  button:hover {
    border-color: #0066ff;
    box-shadow: 0 0 5px #0066ff;
  }
  input {
    padding: 5px;
    background-color: #f2f2f2;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
  }
  
  input:focus {
    border-color: #0066ff;
    box-shadow: 0 0 5px #0066ff;
  }
  
  h1.listTitle {
    text-align: center;
  }
  
  .cardList {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
  }
  
  .card {
    background-color: #f2f2f2;
    margin-top: 3rem;
    height: fit-content;
    width: 500px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px 10px;
    text-align: center;
  }
  
  .productTitle {
    display: inline;
    padding: 5px;
    background-color: #0066ff8a;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .productDescription {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  .productPrice {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  div.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  select {
    text-align: center;
    margin: 0 1rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }